{% extends 'base.html' %}

{% block title %}Aккаунт {{request.user.firstname}} {% endblock %}

{% block content %}
<div class="features">
    <h1>Профиль</h1>
    <div class="profile-info">
    <h2>{{ request.user.firstname }} {{ request.user.lastname }}</h2>
    <span>Balance: {{ emp.balance }}</span>
    {% if request.user.activity == 'employer' %}
      <a href="{% url 'task' %}" >
          <button class="btn btn-info">История созданных работ</button>
      </a>
      <a href="{% url 'create_task' %}" >
          <button class="btn btn-info"><i class="fa fa-plus-circle"></i>Создать задание</button>
      </a>
    {% else %}
       <a href="{% url 'history_of_task' %}">
           <button class="btn btn-info">История выполненных работ</button>
       </a>
    {% endif %}
    </div>
</div>
{% endblock %}

