{% extends 'base.html' %}


{% block title %}task{% endblock %}

{% block content %}
<div class='features'>
    <form method="post" style="margin-top: 90px; display: flex; flex-direction: column">
        {% csrf_token %}
        <div class="features-form-fields">
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
            </div>
        <button class="btn btn-info" style="margin: 20px auto 0"><i class="fa fa-plus-circle"></i>Создать задание</button>
    </form>
</div>
{% endblock %}
