{% extends 'base.html' %}


{% block title %}work{% endblock %}


{% block content %}
<div class="features">
    <h4 style="margin: 20px 0; text-align: center">{{ info }}</h4>
    <div class="features-task-cicle">
        {% for task in tasks %}
        <span style="margin-right: 8px;">{{ task.title }}</span>
        <a href="{% url 'accept_task' task_id=task.id %}">
            <button class="btn btn-info">Перейти к заданию</button>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}