{% extends 'base.html' %}

{% block title %}Войти{% endblock %}

{% block content %}
<div class="features login-features">
    <form method="post">
        {% csrf_token %}
        <div class="features-form-fields">
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        </div>
        <span>{{error}}</span>

        <button class="btn btn-info" style="margin-top: 20px;"><i class="fa fa-plus-circle" style="margin-right: 4px;"></i>Войти</button>
    </form>
</div>
{% endblock %}